.peragraph{
    background-color: darksalmon;
}
p{background-color: aqua;
  


}
h3{
    color: gray; font-size: 25px;

}
.burger{
    position:relative;
    
    background-color: aquamarine;
    width: 400px;
    height: 350px;
    margin :200px ;
    }
    .btn{
         position: absolute;
  top: 310px;   /* distance from top of the image */
  left: 210px;   /* move to middle */
  transform: translateX(-50%); /* perfectly center horizontally */
  padding: 8px 16px;
  background: #0e4b66;
  color: #fff;
  border: black 2px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: darkblue 5px 4px;
}
        
    